{
body {
  font-family: sans-serif;
}

video {
  max-width = 100%;
}

.remote {
     width: { 
      min: 1080,
      ideal: 1920,
      max: 200,
    },
    height: {
      min: 720,
      ideal: 1080,
      max: 1440
    },
    
  }


.local {
  width = 100px;
  facingMode: 'environment';
}
}
